@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { margin: 0; -webkit-font-smoothing: antialiased; }

.scroll-thin::-webkit-scrollbar { width: 8px; height: 8px; }
.scroll-thin::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 4px; }
.scroll-thin::-webkit-scrollbar-track { background: transparent; }
